
/*
.body{
  background-image: url("https://images.pexels.com/photos/159872/book-open-pages-literature-159872.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2 ");
}
*/
/* Add a black background color to the top navigation */

.topnav {
  background-color: #a7dadc;
  overflow: hidden;
}

  
  /* Style the links inside the navigation bar */

  .topnav a {
    float: left;
    color: #f1faee;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
    font-size: 19px;
    float: right;
  }
  
  .topnav a:hover{

background-color:#457b9d;
    color: rgb(255, 255, 255);
  }
  .topnav a.active {
float: left;
background-color: #e63946;
color: #ffffff;
font-weight: bold;


}
.topnav a.active:hover {
  float: left;
  background-color: #e7e5e5;
  color:#e63946;
  font-weight: bold;
  
  
  }


  .htitle{

color: #ffffff;
background-color: #1D3557;
text-align: center;
  }

.card-container{


}
  .card{

    text-align: center;
      border-radius:10px;
      margin: 20px;
      float:left;
    display:block;
    box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.2);
      background-color: #1D3557;
      width: 20%;
      }


      .cardimg{


        width: 100%;
      }



      .card:hover{
        opacity: 0.7;
      }
      
    
      .hcard{
    
    color:#ffffff;    
    text-align: center;  

                }
  
/*
      .button{
        margin: auto;
        padding: 5px;
        border-radius:10px;
        background-color: #e63946;
        font-size: 20px;
        
          }
          
*/


    .eventimg{

width:220px;
border-radius:  10%  0%  0% 10%;
height: 220px;

    }



  

  

  @import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

  * {
    box-sizing: border-box;
  }
  
  
  
  
  
  .course {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    display:flex;
    max-width:100%;
    margin: 0px 10px 70px 10px;
    overflow: hidden;
    width: 600px;
    float: left;
    
  }
  

  
  .course-preview {
  background-color:  #a8dadc;
    padding: 30px;
    max-width: 250px;

  }
  
  
  
  .course-info {
    padding: 30px;
    position: relative;
    width: 100%;
  }
  
  .progress-container {
    position: absolute;
    top: 30px;
    right: 30px;
    text-align: right;
    width: 150px;
  }
  
  .progress {
    background-color: #ddd;
    border-radius: 3px;
    height: 5px;
    width: 100%;
  }
  
  .progress::after {
    border-radius: 3px;
    background-color: #457b9d;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 66%;
  }
  
  .progress-text {
    font-size: 10px;
    opacity: 0.6;
    letter-spacing: 1px;
  }
  
  .btn {
    background-color: #e63946;
    border: 0;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 16px;
    padding: 12px 25px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    letter-spacing: 1px;
  }
  

  .blcourse1 {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    display:flex;
    max-width:100%;
    margin: 0px 10px 70px 10px;
    overflow: hidden;
    width: 800px;
    float: left;
  
  }


  .blcourse2 {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    display:flex;
    max-width:100%;
    margin: 0px 10px 70px 10px;
    overflow: hidden;
    width: 800px;
    float:right;
  
  }


  .blogimg{
    width: 240px;   
    height: 150px;
    border-radius:  10%  0%  0% 10%;

        }


  

        .footer {
          position:static;
          width: 100%;
          background-color:  #a8dadc;
          color: white;
          float: right;
          display: block;
          font-size: 20px;
            }


            .logo a{

              font-size: 50px;
              float: left;
              margin: 0px 0px 30px 0px;
              background-color: #e63946;
              font-weight: bold;
              color: #fff;
              text-decoration: none;

              
            }

            .logo a:hover{

              font-size: 50px;
              float: left;
              margin: 0px 0px 30px 0px;
              background-color:#ddd;
              font-weight: bold;
              color: #e63946;
            }       

.footer1{

  float: right;
  margin: 20px;
}
.footer2{

  float: right;
  margin: 20px;

}
.footer3{

  float: right;
  margin: 20px;

}
.social{

  margin: 120px 0px 0px 10px;

}


.social a{
  font-size: 50px;
color: rgb(244, 234, 234);
margin: 10px;

}


.twitter :hover{

  color: rgb(118, 141, 218);
}

.facebook :hover{

  color: rgb(21, 69, 226);
}

.youtube :hover{

  color: rgb(226, 21, 42);
}

.instagram :hover{

  color: rgb(226, 21, 141);
}






  ;
